<p>boss 的商品管理界面</p>


<%posts.forEach(function(post,index){%>
<div contenteditable="true"><%=post.name%></div>
<%=post.sold%>
<%=post.pic%>
<%=post.price%>
<%=post.iprice%>
<%=post.desp%>
<%=post.ldesp%>
<%=post.fbrand%>
<%=post.mbrand%>
<%=post.lbrand%>
<%=post.show%>
<%=post.pv%>
<%=post.onsale%>
<%=post.state%>
<%})%>